
.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-btn {
    background-color: blue;
    border-style: solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

table, th, tr {
    text-align: center;
}

table th {
    background-color: #efefef;
}

h1 {
    text-align: center;
}

body {
    background-color: #ADD8E6;
}

table, th, tr {
    text-align: center;
}

.name {
    text-align: center;
}

footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}