.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}


.menu-btn {
    background-color: blue;
    border: none;
    /* border-style: solid; */
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    font-family: Candara;
}

.music {
    display: flex;
    justify-content: center;
}

.music1, .music2, .music3, .music4 {
    border-style: solid;
    padding: 10px;
}

.artwork {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #ADD8E6;
}

.name {
    text-align: center;
}

.concert1 {
    font-size: 20px;
}

.concert2 {
    font-size: 20px;
}

.merch {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.logo1 {
    color: green;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.logo2 {
    color: red;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-instagram {
    background-color: #962fbf;
    color: white;
    font-size: 50px;
  }

.fa-soundcloud {
    color: red;
}

.fa-facebook {
    color: blue;
}

.mailing-form {
    text-align: center;
}

footer {
    text-align: center;
    font-family: Candara;
}

a:link.menu-btn {
    text-decoration: none;
    color: white;
}

a:visited.menu-btn {
    color: white;
}

a:hover.menu-btn {
    text-decoration: underline;
}