
/* html * {
    font-family: Candara;
}
*/

body {
    background-color: #ADD8E6;
}

.name {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.menu1 {
    display: flex;
    justify-content: center;
}

.menu-btn1 {
    background-color: blue;
    border-style: solid;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
}

.c-btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 10px;
    right: 20px;
}

.container {
    display: flex;
}

.product{
    border: 1px solid #eaeaec;
    margin: -1px 19px 3px -1px;
    padding: 10px;
    text-align: center;
    background-color: #efefef;
}

.item1, .item2 {
    border-style: solid;
    width: 20%;
    padding: 0.4%;
    background-color: purple;

}

.item3 {
    border-style: solid;
    width: 20%;
    padding: 0.4%;
    background-color: green;
}

.item1, .item2, .item3 {
    display: inline-block;

}

.catalog {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.c-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 0px;
}

.title, .price {
    position: relative;
    left: 10px;
    right: 20px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}