* {
    font-family: Candara;
}

body {
    background-color: #ADD8E6;
}

h1 {
    text-align: center;
}

input[type=text] {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color:darkblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}