.title {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #ADD8E6;
}

.name {
    text-align: center;
}


.logo1 {
    color: green;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.logo2 {
    color: red;
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-instagram {
    background-color: #962fbf;
    color: white;
    font-size: 50px;
  }

.fa-soundcloud {
    color: red;
}

.fa-facebook {
    color: blue;
}